<h2><%= t('admin.users.edit.title') %></h2>

<%= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put } do |f| %>
  <% resource.errors.full_messages.each do |msg| %>
    <div id="flash-error"><%= msg %></div>
  <% end %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :current_password %>
  <%= f.password_field :current_password, :required => true %>

  <%= f.submit t('admin.users.edit.update_link') %>
<% end %>

<h3><%= t('admin.users.edit.cancel_account.title') %></h3>

<span><%= t('admin.users.edit.cancel_account.question') %></span>

<%= link_to t('admin.users.edit.cancel_account.link'), registration_path(resource_name),
      :data => { :confirm => t('admin.users.edit.cancel_account.confirm') }, 
      :method => :delete %>

<%= link_to t('admin.users.edit.back_link'), :back %>
