<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "citygate/application", :media => "all" %>
  <%= javascript_include_tag "citygate/application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <%= render 'shared/navigation' %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <% end %>
  <div id="container" class="container">
    <%= yield %>
  </div>
</body>
</html>
