<!DOCTYPE html>
<html>
<head>
  <title>Citygate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <% if ENV['RAILS_ENV'] == "test" %>
    <div id="container" class="container">
      <header>
        <h1>NORMAL PANEL</h1>
        <nav>
          <ul class="hmenu">
            <%= render 'shared/navigation' %>
          </ul>
        </nav>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <% end %>
      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <footer></footer>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
