<ul id="citygate-navigation">
  <% if user_signed_in? %>
    <li><%= link_to('Logout', destroy_user_session_path, :method=>'delete') %></li>

    <li><%= link_to('Edit account', edit_user_registration_path) %></li>
  <% else %>
    <li><%= link_to('Login', new_user_session_path) %></li>

    <li><%= link_to('Sign up', new_user_registration_path) %></li>

    <% User.omniauth_providers.each do |provider| %>
      <li><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(User.new, provider) %></li>
    <% end -%>
  <% end %>
</ul>
