<div id="users">
  <% @users.each do |user| %>
    <div class="user">
      <span class="email"><%= user.email %></span>
      <%= content_tag(:span, user.name) if user.name %>
      <div class="user-links">
        <%= link_to t('admin.users.index.show_link'), admin_user_path(user), :class => "show-link" %>
        <%= link_to t('admin.users.index.edit_link'), edit_admin_user_path(user), :class => "edit-link" if can? :update, user %>
      </div>
    </div>
  <% end %>

  <%= will_paginate @users %>
</div>
