<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "citygate", :media => "all" %>
  <%= javascript_include_tag "citygate" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <%= render 'citygate/shared/navigation' %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <% end %>

  <div id="main">
    <%= yield %>
  </div> <!-- /main -->
</body>
</html>
